@import '../../../variables';

:host {
  @include centerer;
}

.notes {
  border: 1px solid #d6d6d6;
}

.add-btn {
  padding: $space-small;
  text-align: center;
  width: $notes-width;
  height: $btn-height;
  font-size: $fs-medium;
  background-color: $col-gray-light;
  cursor: pointer;
}
